@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <div class= "title">
        <h1 class="display-4">Hospital</h1>
        <h1 class="display-4">Appointment</h1>
        <h1 class="display-4">System</h1>
    </div>
    <form method="post">
        <div class="buttons">
            <button class="setbutton">Set Appointment</button>
            <button class="loginbutton" asp-page="Login">Login</button>
        </div>
    </form>
</div>
